/*Global styles*/
body {
    margin: 0px;
    padding: 0px;
    background-color: #130F0E;

    color: #FFF;

    height: 1500px;

    font-family: 'Poppins', sans-serif;
}

/* Navbar Styles */
.navbar {
    padding: 1em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    background-color: #373737;
}
.navbar-start img {
    cursor: pointer;

    width: 40px;
    height: 40px;
}

.navbar-mid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-mid h1 {
    padding: 0;
    margin: 0;
}

/* Main container Styles*/
.main{
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    padding: 1em;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: #222222;
    border: 1px;
    border-radius: 7px;
}

.container-title {
    padding: 0.5em;
}

.container-title a{
    color: #FFF;
    cursor: text;
    text-decoration: none;
}

.container-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.container-links {
    top: 40vh;
    right: 1vw;
    width: 140px;
    margin: 0.5em;
    padding: 0.5em;
    position: fixed;
    border-radius: 5px;
    background-color: #373737;
}

.container-links li{
    padding: 0.2em;

    display: flex;
    text-align: center;
    flex-direction: column;

    cursor: pointer;
    text-decoration: none;

    list-style-type: none;
}

.container-links a {
    color: #FFF;
    text-decoration: none;
}

.container-links a:hover {
    color: #F6F
}