/*Global styles*/
body {
    margin: 0px;
    padding: 0px;
    background-color: #130F0E;

    color: #FFF;

    height: 1500px;

    font-family: 'Poppins', sans-serif;
}

body {
    scrollbar-width: thin;
    scrollbar-color: black transparent;
}

body::-webkit-scrollbar {
    width: 3px;
    height: 3px; /* A altura só é vista quando a rolagem é horizontal */
}

body::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
}