/* Header Styles - Navbar Styles */
.navbarInicial {
    padding-top: 25px;

    width: 100vw;
    position: fixed;

    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-auto-columns: auto;

    background-color: #000;
}

.container-links {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.container-small {
    display: none;
}

.container-links li{
    padding: 0.8em;

    display: flex;
    text-align: center;
    flex-direction: column;

    text-decoration: none;
    list-style-type: none;
}

.container-links a {
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

.container-links a:hover {
    color: #F6F
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* ------ PANEL ------*/
.profile-panel {
    width: 200px;
    height: 20%;
    top: 0;
    left: -200px;
    position: fixed;

    border: 1px;
    border-radius: 0 0 5px 5px;
    background-color: #000;
}

.profile-panel .active {
    transform: translateX(200px);
}

.navbar {
    padding: 1em;

    color: #FFD700;

    display: flex;
    justify-content: center;
}

.profile img {
    width: 35%;
    
    cursor: pointer;
}

.profile h4 {
    margin: 0 10px 0;
}

.navbar-mid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-mid h1 {
    padding: 0;
    margin: 0;
}

.navbar-profile {
    width: fit-content;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-menu-small {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-menu-titles {
    display: none;
    align-items: center;
    justify-content: center;
}
