/* Profile Styles */
.header-profile {
    background-color: #000;
}

.profileNav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.profileNavTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.profileNav .profileNavTitle img {
    width: 30px;
    height: 30px;
}

.close {
    padding: 0.5em 0 0 0;
    
    cursor: pointer;

    display: flex;
    align-items: center;
}

.profilePicture {
    display: flex;
    flex-direction: column;
}

.profileNav img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.main-profile {
    width: 100%;
    height: 0px;

    display: flex;
    justify-content: center;

    background-color: #000;
}

.openSkills {
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.openSkills img{
    height: 50px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-desactive {
    display: none;
}

.cards-active {
    padding: 0.5em;

    display: flex;
    flex-direction: column;
    gap: 5px;

    overflow: scroll;
}

.cards-active {
    scrollbar-width: thin;
    scrollbar-color: black transparent;
}

.cards-active::-webkit-scrollbar {
    width: 3px;
    height: 3px; /* A altura só é vista quando a rolagem é horizontal */
}

.cards-active::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

.cards-active::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
}

.skill-card {
    margin-bottom: 2em;

    cursor: pointer;
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    border-radius: 25px;
    background-color: #222222;

    transition: 1s;
}

.skill-card:hover {
    background-color: #111111;
}

.skill-card h4{
    margin: 5px;
    color: #34B427;
}

.myself {
    width: 95%;
    margin-bottom: 5px;

    border-radius: 20px;

    background-color: #111111;
}

.myself h5 {
    margin: 0;
    color: #FFD700;
}

.myself p {
    margin-top: 0;
}

.mySkills {
    margin-bottom: 2em;
}

.mySkills h4{
    margin: 0;
    color: #FFD700;
}

.skill-card p{
    font-size: 14px;
}

/* VOLTAR AO TOPO */

.toTop {
    width: 40px;
    height: 40px;
    bottom: 14px;
    right: 22px;
    position: fixed;
    z-index: 3;

    cursor: pointer;
    color: #FFF;

    border-radius: 65px;
    background-color: #38322e;
    box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);

    transition: 1s;
}

.toTop::after {
    padding-top: 7px;
    padding-left: 1px;

    content: '▲';
    display: flex;
    justify-content: center;
}

.toTop:hover{
    background-color: #111111;
}